<header class="bg-gray-100 py-4">
    <div class="container mx-auto flex justify-between items-center px-6">
        <img src="/logo.png" alt="COLOR FINDER" width="150px">
        <nav>
            <ul class="flex space-x-4">
                <li><a href={{loginUrl}} class="font-semibold">{{loginFlag}}</a></li>
                <li><a href={{infoUrl}} class="font-semibold">{{userInfo}}</a></li>
            </ul>
        </nav>
    </div>
</header>