<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColorFinder</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ['Inter', 'sans-serif'],
                    }
                },
            },
        }
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .tab-active {
            border-bottom: 2px solid black;
            color: black;
        }

        .tab:hover {
            color: black;
        }

        .header-link:hover {
            text-decoration: underline;
        }

        .content-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .text-wrapper {
            flex: 1;
            margin-right: 20px;
        }

        .image-wrapper {
            flex: 1;
            margin-left: 20px; /* 변경 */
            height: 300px;
        }

        .border-dashed {
            border-radius: 8px;
            border: 2px dashed #e2e8f0;
            padding: 20px;
            margin-bottom: 20px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .button-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .image-upload-container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 16px;
        }
        .image-upload {
        width: 500px;
        height: 100px;
        object-fit: contain;
        }
        .text-highlight {
            background-color: rgba(128, 0, 128, 0.3);
            padding: 0 0.2em; /* 좀 더 직관적인 크기로 조정 */
        }

        .keyword-highlight {
            color: #0047ab; /* 진한 하늘색 */
        }
        .description-text {
        font-size: 19px; /* 텍스트 크기 조정 */
    }
        .description-text2 {
        font-size: 25px; /* 텍스트 크기 조정 */
    }



    </style>
</head>

<body class="bg-white text-gray-800 ">

<div class="min-h-screen flex flex-col">
    {{>layout/loginHeader}}

    <!-- Main Content -->
    <main class="flex-grow container mx-auto px-6 py-8">
        {{>layout/tabHeader}}

        <div class="content-wrapper">
            <div class="text-wrapper">
                <h2 class="text-xl font-semibold text-gray-700 mb-4">
                    <span class="text-highlight description-text2">겨울 쿨톤</span>
                </h2>
                <br>
                <p class="text-gray-600 mb-4 description-text"><strong>개성이 강하고 모던한 이미지</strong>의 당신은 화려하고 강한 색상이 잘 어울립니다. 차갑고 강렬하며 이지적인 느낌으로 혼합 색보다 선명한 단색이 더욱 깔끔하게 정돈된 이미지를 줍니다.</p>
                <br>
                <p class="text-gray-600 mb-4 description-text"><strong>'겨울' 색의 특징: </strong> 차가움(쿨톤), 어두움(저명도), 깨끗하고 맑음(청색)</p>
                <br>
                <p class="text-gray-600 mb-4 "><span class="keyword-highlight">#개성있는 #도시적인 #샤프한 #화려한 #이지적인</p>
            </div>

            <div class="image-wrapper">
                <div class="image-upload-container" style="display: flex; justify-content: center; align-items: center;">
                    <img src="static/WC/WC0.png" style="max-width: 100%; height: auto;">
                </div>
            </div>
        </div>

        <h2 class="text-xl font-semibold text-gray-700 mb-4">사용자와 퍼스널컬러가 같은 연예인</h2>
        <div class="image-upload-container">
            <img src="static/WC/WC1.jpeg" class="image-upload" style="width: 250px; height: 250px; object-fit: cover;">
            <img src="static/WC/WC2.jpeg" class="image-upload" style="width: 250px; height: 250px; object-fit: cover;">
            <img src="static/WC/WC3.jpeg" class="image-upload" style="width: 250px; height: 250px; object-fit: cover;">
            <img src="static/WC/WC4.jpeg" class="image-upload" style="width: 250px; height: 250px; object-fit: cover;">
            <img src="static/WC/WC5.jpeg" class="image-upload" style="width: 250px; height: 250px; object-fit: cover;">
        </div>
        <div class="mb-4"></div>
        <!-- 추천 옷 알아보기 버튼 -->
        <button id="recommendClothesButton" class="bg-pink-500 text-white px-6 py-3 rounded hover:bg-blue-600">추천 옷 알아보기</button>

        <!-- 진단 결과 저장하기 버튼 -->
        <button id="saveDiagnosisButton" class="bg-blue-500 text-white px-6 py-3 rounded hover:bg-blue-600">진단 결과 저장하기</button>

    </main>

    <!-- Footer -->
    <footer class="bg-gray-100 py-4">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 ColorFinder. All rights reserved.</p>
        </div>
    </footer>
</div>
<script>
    // 추천 옷 알아보기 버튼 클릭 시 실행되는 함수
    document.getElementById('recommendClothesButton').addEventListener('click', function() {
        // 추천 옷 알아보기 버튼 클릭 시 /colorfinder로 리디렉션합니다.
        window.location.href = '/colorfinder';
    });
    // 진단 결과 저장하기 버튼 클릭 시 실행되는 함수
    document.getElementById('saveDiagnosisButton').addEventListener('click', function() {
        // AJAX 요청을 보냄
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/updatePersonalColor', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    // 요청이 성공하면 처리
                    alert('퍼스널 컬러 정보가 업데이트되었습니다.');
                } else {
                    // 요청이 실패하면 처리
                    alert('퍼스널 컬러 정보 업데이트에 실패했습니다.');
                }
            }
        };
        xhr.send(JSON.stringify({ colorId: 'SW' })); // 사용자의 퍼스널 컬러를 AW로 설정
    });
</script>
</body>

</html>
